.job-search-form {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 8px;
}

.job-type-select {
  margin-right: 10px;
  flex: 250px;
  opacity: 0.9;
}

.application-card {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.2);
}

button[type="submit"],
button[type="button"] {
  margin-top: 10px;
  margin-right: 10px;
}

button[type="button"] {
  background-color: rgb(129, 152, 205);
  color: white;
}

.applicant-list {
  flex: 1; 
  }

  p {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

.nosearch {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image covers the circular area */
  object-position: center; /* Centers the image within the circular area */
  order: 1;
}