.toolbar-spacer {
  flex: 1 1 auto;
}

.logo-text {
  display: inline-flex;
  align-items: center;
}

.logo-text:hover {
  cursor: pointer;
}

.logo {
  object-fit: contain;
  height: 40px;
  margin-right: 10px;
}


.container {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.job-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; 
}

.title-underlined {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}